<title>Contact</title>

{% extends "base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_filters %}
    <style>
        p {
            color: LightGray;
        }

        .communication_form {
            color: LightGray;
            font-size: 16px;
        }

        textarea {
            width: 100%;
            height: 220px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 8px;
            font-size: 16px;
            resize: none;
        }

        input {
            width: 100%;
            border-radius: 6px;
            padding: 5px;
        }

    </style>
    {% load static %}
    <div class="row">
        <div class="col-lg-12">
            <div class="main-profile ">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="{% static 'assets/images/profile.jpeg' %}" alt="" style="border-radius: 23px;">
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="main-info header-text">
                            <h4>Midhun S Kani</h4>
                            <p>Python Django Developer. Interested in Web Development and Machine learning.
                            </p>
                            <div class="social-links mt-3">
                                <a href="https://www.linkedin.com/in/midhuns98/" style="margin-right:10px"
                                   target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                                <a href="https://github.com/midhun98" style="margin-right:10px" target="_blank"><i
                                        class="fa-brands fa-github fa-2x"></i></a>
                                <a href="https://www.instagram.com/midhun.1/" style="margin-right:10px" target="_blank"><i
                                        class="fa-brands fa-instagram fa-2x"></i></a>
                                <a href="https://wa.link/i7i65w" style="margin-right:10px" target="_blank"><i
                                        class="fa-brands fa-whatsapp fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>In case of any queries contact me</p>
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>Kanjiramkulam, Thiruvanthapuram, 695524</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>midhunskani@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+91 88257 32891</p>
                        </div>
                        <br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.423132278114!2d77.05007631413696!3d8.359968993986685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x305fcd9c86b98b68!2zOMKwMjEnMzUuOSJOIDc3wrAwMycwOC4yIkU!5e0!3m2!1sen!2sin!4v1666768097637!5m2!1sen!2sin"
                                style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" style="overflow-x:auto;">
                    <form method="post" action="{% url 'contacts_page' %}" class="communication_form">
                        {% csrf_token %}
                        {{ communication_form|crispy }}
                        <br>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>

                </div>
            </div>

        </div>
    </section><!-- End Contact Section -->

{% endblock %}