<!-- ***** Header Area End ***** -->
{% extends "base.html" %}
{% block title %} Profile {% endblock title %}
{% block content %}
    {% load static %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- ***** Banner Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-profile ">
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="{% static 'assets/images/profile.jpeg' %}" alt=""
                                         style="border-radius: 23px;">
                                </div>
                                <div class="col-lg-6 align-self-center">
                                    <div class="main-info header-text">
                                        <h4>Midhun S Kani</h4>
                                        <p style="color: LightGray;">Python Django Developer. Interested in Web
                                            Development and Machine learning.
                                        </p>
                                        <div class="social-links mt-3">
                                            <a href="https://www.linkedin.com/in/midhuns98/" style="margin-right:10px"
                                               target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                                            <a href="https://github.com/midhun98" style="margin-right:10px"
                                               target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
                                            <a href="https://www.instagram.com/midhun.1/" style="margin-right:10px"
                                               target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a>
                                            <a href="https://wa.link/i7i65w" style="margin-right:10px"
                                               target="_blank"><i class="fa-brands fa-whatsapp fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="clips">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="heading-section">
                                                    <h4><em>Pinned Github</em> Repositories</h4>
                                                </div>
                                            </div>

                                            {% for i in pinned_repo %}
                                                <div class="col-lg-4 col-sm-6">
                                                    <div class="item">
                                                        <div>
                                                            <a href={{ i.link }}
                                                                       target="_blank">
                                                                <img src={{ i.image }} alt=""
                                                                     style="border-radius: 23px;">
                                                            </a>
                                                        </div>
                                                        <div class="down-content">
                                                            <h4>{{ i.repo }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Banner End ***** -->
            </div>
        </div>
    </div>
{% endblock %}