{% extends "base.html" %}
{% block title %} All blogs {% endblock title %}
{% block content %}

    <style>
        label {
            color: LightGray;
        }

        input {
            width: 30px;

        }

        .dataTables_info {
            color: white;
        }

        a {
            color: royalblue;
        }

        p {
            color: black;
        }

        td {
            color: white;
        }
    </style>

    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

    <div class="table-responsive">
        <table id="example" class="table table-hover table-striped table-dark">
            <thead>
            <tr>
                <th>Title</th>
                <th>Tag</th>
                <th>View</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
                <tr class="apples">
                    <td>{{ i.title }}</td>
                    <td>{{ i.tags }}</td>
                    <td>
                        <button class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal-{{ i.id }}">View
                        </button>
                    </td>
                    <td>
                        {% if perms.core.login_required %}
                            <button type="button" class="btn btn-primary"
                                    onclick="location.href='{% url 'blog_update' i.id %}'">Edit
                            </button>
                            <button type="button" class="btn btn-danger"
                                    onclick="location.href='{% url 'blog_delete' i.id %}'">Delete
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-primary"
                                onclick="location.href='{% url 'blog_detail' i.id %}'">Detail View
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

    <!-- Modal -->
    {% for i in data %}
        <div class="modal fade" id="exampleModal-{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">{{ i.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p style="color: black">{{ i.content|safe }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- End Modal -->

{% endblock %}